
/* Aqui vamos a implementar los estilos generales */

@import "./Vars.scss";
@import "./MediaQueri.scss";

body {
    margin: 0px;
    background-color: $main-color;
    font-family: $theme-font;
    }

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    opacity:0px transparent;
}
::-webkit-scrollbar-thumb{
    // background:rgba(255, 255, 255,.4);
    border-radius:4px transparent;
    display:none;
}
::-webkit-scrollbar:hover {
    background: white;
    box-shadow: 0  0 2px 1px rgba(0, 0, 0, 0.2);
}




